<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SP365_Portal;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors defaultRedirect="500.htm" mode="RemoteOnly">
      <error statusCode="403" redirect="403.htm"/>
      <error statusCode="404" redirect="404.htm"/>
      <error statusCode="500" redirect="500.htm"/>
    </customErrors>
  </system.web>
  <appSettings>
    <!-- Authorisation Settings -->
    <add key="Auth.LoginPath" value="/Login" />
    <add key="Auth.ExpireTimeSpan" value="7.00:00:00" />
    <add key="Auth.SlidingExpiration" value="true" />
    <!--<add key="Auth.CookieDomain" value=".sp365.pro" />-->
    <add key="Auth.CookieHttpOnly" value="" />
    <add key="Auth.CookieAlwaysSecure" value="" />
    <add key="Auth.EnforceUserValidationQ" value="true" />
    <add key="Auth.EnforcePasswordValidationQ" value="true" />
    <add key="Auth.EnableTwoFactorAuthenticationQ" value="false" />
    <add key="Auth.EnableAntiXsrfTokenVerificationQ" value="false" />
    <add key="Auth.EnableUserLockoutQ" value="true" />
    <!-- Custom AppSettings to configure the SP Add-In -->
    <add key="Auth.SP365AddIn.AppId" value="SharePoint Add-In ClientId" />
    <add key="Auth.SP365AddIn.Secret" value="SharePoint Add-In ClientSecret" />
    <!-- Custom AppSettings to configure the Linked-In App -->
    <add key="Auth.LinkedIn.AppId" value="LinkedIn ClientId" />
    <add key="Auth.LinkedIn.Secret" value="LinkedIn ClientSecret" />
    <add key="Auth.LinkedIn.Scope" value="LinkedIn App Scope (i.e. r_basicprofile, r_emailaddress)" />
    <add key="Auth.LinkedIn.CallbackPath" value="Linked Callback Url to confirm OAuth2 process" />
    <!-- LinkedIn API settings -->
    <add key="LinkedIn.Timeout" value="00:00:10" />
    <!-- PTV settings -->
    <add key="PTV.UserId" value="" />
    <add key="PTV.ApiKey" value="" />
    <add key="PTV.Email" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="SP365.AddIn.Services.LinkedInService" behaviorConfiguration="serviceBehaviour">
        <endpoint address="soap" binding="basicHttpsBinding" contract="SP365.AddIn.Services.ILinkedInService"></endpoint>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpBinding" behaviorConfiguration="restBehavior" contract="SP365.AddIn.Services.ILinkedInService"></endpoint>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpsBinding" behaviorConfiguration="restBehavior" contract="SP365.AddIn.Services.ILinkedInService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SP365.AddIn.Services.PTVService" behaviorConfiguration="serviceBehaviour">
        <endpoint address="soap" binding="basicHttpsBinding" contract="SP365.AddIn.Services.IPTVService"></endpoint>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpBinding" behaviorConfiguration="restBehavior" contract="SP365.AddIn.Services.IPTVService"></endpoint>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpsBinding" behaviorConfiguration="restBehavior" contract="SP365.AddIn.Services.IPTVService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="httpBinding">
          <security mode="None"></security>
        </binding>
        <binding name="httpsBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare" helpEnabled="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
